body {
  background-color: #fdfdfd;
}
.side-bar {
  background-color:  #dba76d;
  color: #3c2a21;
}
.nav-button:hover {
  background-color: #ca965c;
  color: #ffffff;
}
.secondary-btn:hover {
  background-color: #ca965c;
  color: #ffffff;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #d1b18a;
  border: 0px none #ffffff;
  border-radius: 29px;
}
::-webkit-scrollbar-track {
  background: #fff2dc;
  border: 0px none #ffffff;
  border-radius: 28px;
}
::-webkit-scrollbar-corner {
  background: transparent;
}

.container-shadow {
  background-color: #ffffff;
  -webkit-box-shadow: 14px 14px 16px 5px #fbecd2;
  box-shadow: 14px 14px 16px 5px #F9E6C4;
}
.cards {
  background-color: #feebc9;
  color: #775a3a;
}
.cards label{
  color: #775a3a;
}
.time-date{
  background-color: #feebc9;
  border: solid 1px #b5966e;
}
.container-text {
  color: #775a3a;
}
.inputs {
  background-color: black;
  border: solid 1px #E2C695;
}
