body {
  background-color: #fffaf5;
}

.side-bar {
  background-color: #dba76d;
  color: #3c2a21;
}

.nav-button:hover {
  background-color: #ca965c;
  color: #ffffff;
}
.secondary-btn-1 {
  background-color: #FFF2DB;
  color: #6C3415;
}
.secondary-btn:hover {
  background-color: #ca965c;
  color: #ffffff;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}

::-webkit-scrollbar-thumb {
  background: #dba76d;
  border: 0px none #ffffff;
  border-radius: 29px;
}

::-webkit-scrollbar-track {
  background: #fff2dc;
  border: 0px none #ffffff;
  border-radius: 28px;
}

::-webkit-scrollbar-corner {
  background: transparent;
}

.container-shadow {
  background-color: #ffffff;
  -webkit-box-shadow: 9px 9px 40px 0px rgba(250, 228, 195, 1);
  -moz-box-shadow: 9px 9px 40px 0px rgba(250, 228, 195, 1);
  box-shadow: 9px 9px 40px 0px rgba(250, 228, 195, 1);
}

.cards {
  background-color: #fff2db;
  color: #775a3a;
}

.cards label {
  color: #775a3a;
}

.time-date {
  background-color: #fff2db;
}

.container-text {
  color: #775a3a;
}

.inputs {
  background-color: black;
  border: solid 1px #E2C695;
}

.brownn {
  background-color: #dba76d;
}

.brown-2 {
  background-color: #fff2db;
}

.text-brown {
  color: #775a3a;
}